*{
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;

}
body{
    overflow: auto;
}


.container{
    border-style: solid;
    border-color: lightgrey;
    border-width: .1rem;

    
}

.nav-link{
    font-family: 'Cantarell', sans-serif;
    font-weight: bolder;
}

header{
    width: 100%;
    font-family: 'Amatic SC', sans-serif;
    color: lightsalmon; 
    background-color: grey; 
    text-align: center; 
    font-size: 48px;
}

img{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 340px;
    max-height: 650px;
}

.row1_col_2{
    text-align: center;
}

.row2_col_1{
    text-align: center;
}
footer{
    background-color: grey;
    position: relative;
    height: 3rem;
}